/*Her har vi brukt chatGPT for at overskrift 1 og 2 skal skalere seg etter forhold til viewport*/
.overskrift1 {
    font-family:fantasy;
    font-size: 8vw;
    text-align: center;
    color: black;
    background-attachment: fixed;
    background-position: center;
}

/*Her har vi brukt chatGPT for at overskrift 1 og 2 skal skalere seg etter forhold til viewport*/
.overskriftHelge {
    font-family:fantasy;
    font-size: 4vw;
    text-align: center;
    color: black;
}

.overskriftAnders {
    font-family:fantasy;
    font-size: 4vw;
    text-align: center;
    color: black;
}

body {
    background-image: url('/Images/747m.gif');
    background-size:cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
}

.ContainerHelge {
    text-align: center;
}

.KlikkDesignHelge {
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.2s;
}

.helge:hover {
    transform: scale(1.1);
}










